---
import type { ImageMetadata } from "astro";
import { Image } from "astro:assets";
interface Props {
  imagePath: string;
  altText: string;
  imgClass?: string;
  containerTextClass?: string;
  title?: string;
  titleClass?: string;
  description: string;
  href: string;
}
const {
  imagePath,
  altText,
  imgClass = "",
  containerTextClass,
  title = "Sin título",
  titleClass = "text-xl",
  description,
  href,
} = Astro.props;
const images = import.meta.glob<{ default: ImageMetadata }>(
  "/src/images/card/*.jpg"
);
if (!images[imagePath])
  throw new Error(
    `"${imagePath}" does not exist in glob: "src/images/card/*.jpg"`
  );
---

<div class="relative">
  <Image
    src={images[imagePath]()}
    alt={altText}
    class:list={["w-full h-full object-cover", imgClass]}
    loading="eager"
  />
  <a href={href} class="block absolute z-30 h-full w-full top-0">
    <div
      class:list={[
        "px-4 flex flex-col justify-end h-full gap-2 pb-16 lg:pb-0 lg:justify-center",
        containerTextClass,
      ]}
    >
      <h5 class:list={["block uppercase font-bold text-white", titleClass]}>
        {title}
      </h5>
      <p class="text-white pt-4">
        {description}
      </p>
    </div>
  </a>
</div>
