---
import type { ImageMetadata } from "astro";
import { Image } from "astro:assets";
import WhatsappButton from "./WhatsappButton.astro";

interface Props {
  imagePath: string;
  imageStyle?: string;
  title: string;
}
const { imagePath, imageStyle = "", title } = Astro.props;
const images = import.meta.glob<{ default: ImageMetadata }>(
  "/src/images/slide/*.png"
);
if (!images[imagePath])
  throw new Error(
    `"${imagePath}" does not exist in glob: "src/images/slide/*.{png}"`
  );
---

<swiper-slide class="relative flex justify-center items-center">
  <Image
    src={images[imagePath]()}
    alt="Tours en Iquitos, Perú"
    class:list={["object-cover w-full h-full"]}
    loading="eager"
    style={imageStyle}
  />
  <div class="absolute inset-0 bg-black opacity-50 mix-blend-multiply"></div>
  <div
    class="flex flex-wrap justify-center items-center absolute max-w-2xl text-center px-4 space-y-8"
  >
    <h3
      class="uppercase font-bold text-white"
      style="font-size: clamp(2.25rem, 1.8214rem + 2.1429vw, 3.75rem);"
    >
      {title}
    </h3>
    <WhatsappButton />
  </div>
</swiper-slide>
