---
import BaseHead from "@components/BaseHead.astro";
import Footer from "@components/Footer.astro";
import "@styles/global.css";
import { ViewTransitions } from "astro:transitions";
import Navbar from "@components/Navbar";
import { getImage } from "astro:assets";
import LogoDark from "@images/logo-dark.png";
import LogoLight from "@images/logo-light.png";
import { SITE_DESCRIPTION, SITE_TITLE } from "src/constans";

const logoDark = await getImage({
  src: LogoDark,
  width: 64,
  height: 64,
  format: "webp",
});

const logoLight = await getImage({
  src: LogoLight,
  width: 64,
  height: 64,
  format: "webp",
});

const routePath = `/${Astro.url.pathname.split("/")[1]}`;
---

<!doctype html>
<html lang="es">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
    <ViewTransitions />
  </head>
  <body>
    <Navbar
      logoLight={logoLight.src}
      logoDark={logoDark.src}
      routePath={routePath}
      client:load
    />
    <slot />
    <Footer />
  </body>
</html>
