---
import TourLayout from "./TourLayout.astro";
import type { CollectionName } from "src/content/config";
import { getCollection } from "astro:content";
import Article from "@components/Article.astro";

interface Props {
  rootPath: string;
  sectionName: string;
  collectionName: CollectionName;
}

const { rootPath, sectionName, collectionName } = Astro.props;

const tours = (await getCollection(collectionName)).sort(
  (a, b) => a.data.id - b.data.id
);
---

<TourLayout sectionName={sectionName}>
  <ul class="grid grid-cols-1 lg:grid-cols-2 gap-6">
    {
      tours.map((tour) => (
        <li
          class="border-extra-soft-white text-soft-white hover:bg-soft-light rounded-xl border transition-colors duration-200"
          transition:name={tour.id}
        >
          <a href={`/${rootPath}/${tour.slug}`}>
            <Article {...tour.data}>
              <h4 class="text-xl font-bold">{tour.data.title}</h4>
              <p>{tour.data.text}</p>
            </Article>
          </a>
        </li>
      ))
    }
  </ul>
</TourLayout>
